controller/flows.json
[{"id":"8d2e301b.4d1da","type":"ui_text","z":"2c9494a9.a791cc","group":"1459f9d5.933636","order":1,"width":0,"height":0,"name":"Status","label":"","format":"{{msg.payload}}","layout":"col-center","x":550,"y":160,"wires":[]},{"id":"ead0d7e7.ddbde8","type":"ui_button","z":"2c9494a9.a791cc","name":"","group":"1459f9d5.933636","order":3,"width":0,"height":0,"passthru":false,"label":"Speed UP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":139,"y":122,"wires":[["dbaa457f.8eade8"]]},{"id":"5b09e27a.93629c","type":"ui_button","z":"2c9494a9.a791cc","name":"","group":"1459f9d5.933636","order":4,"width":0,"height":0,"passthru":false,"label":"Speed DOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"num","topic":"","x":150,"y":173,"wires":[["dbaa457f.8eade8"]]},{"id":"3f16b91e.609236","type":"ui_gauge","z":"2c9494a9.a791cc","name":"Speed","group":"1459f9d5.933636","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"km/h","format":"{{value}}","min":"0","max":"70","colors":["#00c800","#ffff00","#ff0000"],"seg1":"35","seg2":"50","x":590,"y":225,"wires":[]},{"id":"dbaa457f.8eade8","type":"function","z":"2c9494a9.a791cc","name":"speed","func":"// max speed\nconst limit = 70;\nconst notch = 5;\nvar speed = context.get('speed')||0;\n// +1: forward, -1: reverse\nvar direction = context.get('direction')||1;\n\n// change direction\nif (msg.payload === \"change\") {\n    if (direction < 0) {\n        direction = 1;\n    } else {\n        direction = -1;\n    }\n    context.set('direction',direction);\n    if (speed !== 0) {\n        speed = 0;\n    }\n// Stop\n} else if (msg.payload === 0) {\n    speed = 0;\n// speed down don't reverse\n} else if (msg.payload < 0 && speed === 0) {\n    speed = 0;\n} else {\n    speed += msg.payload*notch*direction;\n    if (speed > limit) {\n        speed = limit;\n    } else if (speed <= (-1)*limit) {\n        speed = (-1)*limit;\n    }\n}\ncontext.set('speed',speed);\nmsg.payload = speed;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":315,"y":225,"wires":[["cc393c51.3f2b7","420f808.397ca8","4f7d99d3.bc0788","539d4267.c029fc"]]},{"id":"cc393c51.3f2b7","type":"function","z":"2c9494a9.a791cc","name":"direction","func":"if (msg.payload === 0) {\n   msg.payload = \"STOP\";\n} else if (msg.payload < 0) {\n   msg.payload = \"Reverse\"; \n} else {\n   msg.payload = \"Forward\" ;\n}\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":160,"wires":[["8d2e301b.4d1da"]]},{"id":"2373e2c.4662b1e","type":"ui_button","z":"2c9494a9.a791cc","name":"","group":"1459f9d5.933636","order":4,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"num","topic":"","x":121,"y":226,"wires":[["dbaa457f.8eade8"]]},{"id":"b6adf3ac.8e6f","type":"rpi-gpio out","z":"2c9494a9.a791cc","name":"pwm1","pin":"11","set":"","level":"0","freq":"200","out":"pwm","x":530,"y":360,"wires":[]},{"id":"f5654a4d.94ce88","type":"rpi-gpio out","z":"2c9494a9.a791cc","name":"pwm2","pin":"13","set":"","level":"0","freq":"200","out":"pwm","x":530,"y":420,"wires":[]},{"id":"539d4267.c029fc","type":"function","z":"2c9494a9.a791cc","name":"pwm2","func":"if (msg.payload >= 0) {\n    msg.payload = 0;\n} else {\n    msg.payload = Math.abs(msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["f5654a4d.94ce88"]]},{"id":"4f7d99d3.bc0788","type":"function","z":"2c9494a9.a791cc","name":"pwm1","func":"if (msg.payload <= 0) {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["b6adf3ac.8e6f"]]},{"id":"502cc2e6.61262c","type":"ui_button","z":"2c9494a9.a791cc","name":"","group":"1459f9d5.933636","order":5,"width":0,"height":0,"passthru":false,"label":"Change Direction","tooltip":"","color":"","bgcolor":"","icon":"","payload":"change","payloadType":"str","topic":"","x":160,"y":280,"wires":[["dbaa457f.8eade8"]]},{"id":"420f808.397ca8","type":"function","z":"2c9494a9.a791cc","name":"abs","func":"// abs for speed gauge\nif (msg.payload < 0) {\n    msg.payload = Math.abs(msg.payload);\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":466,"y":225,"wires":[["3f16b91e.609236"]]},{"id":"9c313359.e195b","type":"comment","z":"2c9494a9.a791cc","name":"Dashboard","info":"","x":127,"y":78,"wires":[]},{"id":"b0b93d1d.8a47c","type":"comment","z":"2c9494a9.a791cc","name":"Speed Control","info":"","x":140,"y":358,"wires":[]},{"id":"1459f9d5.933636","type":"ui_group","z":"","name":"IoT Train","tab":"941aac27.b570a","disp":true,"width":"6","collapse":false},{"id":"941aac27.b570a","type":"ui_tab","z":"","name":"ホーム","icon":"dashboard","disabled":false,"hidden":false}]